/test_calc.py
/parse_rad.py
/air_alerts.db
/air_alerts_tester.db
/air_alerts_t1.db
/air_alerts_t2.db
/Lib
/screens
/cronLogs
/core_logs
/logs
/rss_news.db
/Scripts
/test message for air alert.txt
/__pycache__
/losses_images
/.idea
geckodriver.log